<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">Navigus Assignment</h1>
    <p class="display-4 d-none d-sm-block">Go to your respective tab if you are a User.</p>
   

    

   
    <br><br><br>
  </div>  
</section>



</body>

</html>
